<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682822084991-1339pn73ln6d433lif52f9jp0k65e7en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682822084991-1339pn73ln6d433lif52f9jp0k65e7en</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>682822084991-hqsie5e4oo0tio9ah6f11uanh53ti5e4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIDy70E7YZk7lLLnAkiGuuF4o2WA2UYTM</string>
	<key>GCM_SENDER_ID</key>
	<string>682822084991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.loono.app.dev</string>
	<key>PROJECT_ID</key>
	<string>loonoapp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>loonoapp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682822084991:ios:0a1a11497028af4247924a</string>
</dict>
</plist>
