name: Continuous Integration
on:
  pull_request:
    branches:
      - continuous-integration
  push:
    branches:
      - continuous-integration
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.x'

      - name: List files
        run: ls -al

      - name: Install dependencies
        run: flutter pub get

      - name: Hello world
        run: dart bin/hello_world.dart

