name: CI
on: [ push, pull_request ]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.5.3'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Copy .env.example into .env file
        run: |
          cp ./assets/.env.example ./assets/.env

      - name: Verify formatting dart
        run: |
          libFiles=`find ./lib/ -type f -not -regex ".*\.\(freezed\|gr\|g\).dart" -not -name "*.arb"`
          for file in $libFiles
          do
              dart format --line-length 100 --output=none --set-exit-if-changed $file
          done

  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.5.3'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Copy .env.example into .env file
        run: |
          cp ./assets/.env.example ./assets/.env

      - uses: invertase/github-action-dart-analyzer@v1
        with:
          # (Optional) Treat info level issues as fatal.
          fatal-infos: false

          # (Optional) Treat warning level issues as fatal
          # (defaults to true).
          fatal-warnings: true

          # (Optional) Whether to add annotations to GitHub actions summary / PR
          # review files.
          # (defaults to true).
          annotate: true

          # (Optional) If set to true only annotations will be created and the
          # GitHub action itself will not fail on Dart analyzer problems.
          # (defaults to false).
          annotate-only: false

          # (Optional) The working directory to run the Dart analyzer in
          # (defaults to `./`).
          working-directory: ./

#  test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - uses: dart-lang/setup-dart@v1
#      - uses: subosito/flutter-action@v2
#        with:
#          flutter-version: '2.5.3'
#          channel: 'stable'
#
#      - name: Install dependencies
#        run: flutter pub get
#
#      - name: Copy .env.example into .env file
#        run: |
#          cp ./assets/.env.example ./assets/.env
#
#      - name: Run tests flutter
#        run: flutter test
