name: Continuous Integration / integration tests
on: [ push, pull_request ]
#on:
#  push:
#    branches: [master]

jobs:
  android:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.10.1'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Copy .env.example into .env file
        run: |
          cp ./assets/.env.example ./assets/.env

      # otherwise failing with an error: "path may not be null or empty string. path='null'" (https://stackoverflow.com/a/57515614)
      - name: Update build.gradle file
        # removing these lines
        run: |
          sed -i -e '/signingConfigs {/,+29d;' ./android/app/build.gradle

      - name: Run integration tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          profile: Nexus 6
          api-level: 31
          arch: x86_64
          target: default
          script: flutter test integration_test --flavor dev

  ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.10.1'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Copy .env.example into .env file
        run: |
          cp ./assets/.env.example ./assets/.env

      - name: Start Simulator
        uses: futureware-tech/simulator-action@v1
        with:
            model: "iPhone 11"

      - name: Run integration tests
        run: flutter test integration_test --flavor dev

#  test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - uses: subosito/flutter-action@v2
#        with:
#          flutter-version: '2.5.3'
#          channel: 'stable'
#
#      - name: Install dependencies
#        run: flutter pub get
#
#      - name: Copy .env.example into .env file
#        run: |
#          cp ./assets/.env.example ./assets/.env
#
#      - name: Run tests flutter
#        run: flutter test
