name: Continuous Integration / integration tests
on:
  push:
    branches: [master]

env:
  flutter_version: '2.10.1'

jobs:
  android:
    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [29]
        target: [default]

    steps:
      - uses: actions/checkout@v2

      - name: Flutter SDK cache
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.flutter_version }}
          cache: true
          cache-key: ${{ runner.OS }}-flutter-${{ env.flutter_version }}
          cache-path: ${{ runner.tool_cache }}/flutter

      - name: Install dependencies
        run: flutter pub get

      - name: Copy .env.example into .env file
        run: |
          cp ./assets/.env.example ./assets/.env

      # otherwise failing with an error: "path may not be null or empty string. path='null'" (https://stackoverflow.com/a/57515614)
      - name: Update build.gradle file
        # removing these lines
        run: |
          sed -i -e '/signingConfigs {/,+29d;' ./android/app/build.gradle

      - name: Gradle cache
        uses: gradle/gradle-build-action@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      # slightly speed ups the test startup (as it caches something)
      - name: Build apk
        run: |
          flutter build apk --debug --flavor dev

      - name: AVD cache
        uses: actions/cache@v2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          profile: pixel_3_xl
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run integration tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          profile: pixel_3_xl
          target: ${{ matrix.target }}
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          force-avd-creation: false
          disable-animations: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          script: flutter test integration_test --flavor dev

  ios:
    # TODO: it's timeouting...
    if: 'false'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Flutter SDK cache
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.flutter_version }}
          cache: true
          cache-key: ${{ runner.OS }}-flutter-${{ env.flutter_version }}
          cache-path: ${{ runner.tool_cache }}/flutter

      - name: Install dependencies
        run: flutter pub get

      - name: Copy .env.example into .env file
        run: |
          cp ./assets/.env.example ./assets/.env

      - name: Start Simulator
        uses: futureware-tech/simulator-action@v1
        with:
          model: "iPhone 11"

      - name: Run integration tests
        run: flutter test integration_test/test_sets/onboarding/test_cases/male_onboarding_flow_test.dart --flavor dev

#  test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - uses: subosito/flutter-action@v2
#        with:
#          flutter-version: '2.5.3'
#          channel: 'stable'
#
#      - name: Install dependencies
#        run: flutter pub get
#
#      - name: Copy .env.example into .env file
#        run: |
#          cp ./assets/.env.example ./assets/.env
#
#      - name: Run tests flutter
#        run: flutter test
