on: push

name: Sample Workflow

jobs:
  analyze:
    name: Example
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Set up Dart
        uses: dart-lang/setup-dart@v1
        
      - name: Flutter SDK cache
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.flutter_version }}
          cache: true
          cache-key: ${{ runner.OS }}-flutter-${{ env.flutter_version }}
          cache-path: ${{ runner.tool_cache }}/flutter
      
      - name: Install dependencies
        run: dart pub get
        
      - name: Analyze Dart
        uses: zgosalvez/github-actions-analyze-dart@v2
        
      - name: Analyze project source
        run: dart analyze
